<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fitness_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>
	
	<connectionStrings>
			<add name="MyConnection"
     connectionString="Server=.;Database=h_fitness;User Id=sa;Password=sa123456;"
     providerName="System.Data.SqlClient" />
		</connectionStrings>
	
 <userSettings>
  <Fitness_project.Properties.Settings>
   <setting name="LogoPath" serializeAs="String">
    <value />
   </setting>
  </Fitness_project.Properties.Settings>
 </userSettings>
</configuration>